<head>  
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' /> 
</head>  

<body id="index">
    <div class="container" >
        <img src="images/logo.png"></img>
        <a href="#signupModal" data-toggle="modal" style="float:right;"><img src="images/Register_button.png" width= "200px" height= "50px" style="margin-top: 30px;" alt="Register Now"/></a>
        <div class="row">
            <div class="col">
                <canvas id="gamespace" tabindex="0" ></canvas>
            </div>
            <div class="col" id="userlist">
                <h4>USERS ONLINE</h4>
                <ul class='list-group' id="users"></ul>
            </div>
        </div>
       
    </div>
    <!-- signup Modal -->
  <div class="modal fade" id="signupModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span> <b>Registration Form</b></h4>
        </div>
        <div class="modal-body">
          <form role="form" action="/register" data-toggle="validator" method="post">
            <!-- Text input-->

            <div class="form-group">
                <input type="text" class="form-control" data-minlength="4" id="email_modal" name="username" placeholder="username" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password_modal" name="pass" placeholder="password" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password_confirm_modal" name="pass-confirm" 
                        data-match="password" data-match-error="Whoops, these don't match" placeholder="confirm password" required>
                <div class="help-block with-errors"></div>
            </div>

            <button type="submit" class="btn btn-default btn-success btn-block" ><span class="glyphicon glyphicon-off"></span>Sign up</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        </div>
      </div>
    </div>
  </div> 
    <div id='placeholder'></div>
</body>
<footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="/vendors/CanvasInput.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/handler.js"></script>
</footer>